.stocklist{

    display: list-item;
    list-style: disc;
    font-size: 2em;
    text-align: left;
    margin: auto;
}



.BullvsBear{

    border-radius: 20px;
    margin: -175px 150px 25px ;
    max-height: 175px;   
    float: right;
    object-fit: cover;
    
}

.BullvsBear:after{

    content:"";
    display: block;
    clear: both;
}