    header {
        background: black;
        background-image: url("../Images/Bloghead.jpg");
        border-radius: 100px;
        height: 100px;
        padding: 10px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .headul{

        font-family: Georgia, "Times new roman", serif;
        font-size: 2em;
        color: black;
        margin: auto;
        
    }
    header a{

        margin-top: 30px;
        color: black;
    }

    header .logo a{
        background-image: url("../Images/Logo.png");
        background-size: 200px;
        display: inline-block;
        background-repeat: no-repeat;
        position: relative;
        height: 70px;
        width: 200px;
        text-indent: -9999999px;
        top: -10px;
    }
    

    div{

        display: inline;
        
    }

    
    .Copywrite {
    color: red;
    font-size: .75em;
    font-weight: bold;
    margin: 1em 0 .4em;
    }
    
    
    li {
    
      display: inline-block;
      margin: 0px 25px auto;
      
    
    
    }
    
    a{
        text-decoration: none;
    }

    a:hover{
    
      text-decoration: underline;
    
    }

     .fpPicture{

        border-radius: 20px;
        height: 200px;
        width: 600px;
    }
    
    .fpbutton {
    
      background: rgb(57, 64, 146);
      border-radius: 10px;
      border-color: rgb(130, 155, 151);
      color: rgb(0, 0, 0);
      height: 40px;
     
    
    }
    
    body {
    
      font: 100% Arial, Helvetica, sans-serif;
      background-image: url("/Images/Background.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      margin: 0;
      padding: 0; 
      text-align: center;

    }
    
    
    h2 {
      font-family: Georgia, "Times new roman", serif;
      font-size: 2em;
      color: blue;
      text-decoration: underline;
    }
    