    header {
        background: black;
        background-image: url("Images/Bloghead.jpg");
        border-radius: 100px;
        height: 100px;
        padding: 10px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .headul{

        font-family: Georgia, "Times new roman", serif;
        font-size: 2em;
        color: black;
        margin: auto;
        
        
    }
    header a{

        margin-top: 30px;
        color: black;
        text-decoration: none;
    }

    header a:hover{
      background: rgba(95, 0, 114, 0.3);
      border-radius: 10px;
      
    }

    header .logo a{
        background-image: url("Images/Logo.png");
        background-size: 200px;
        display: inline-block;
        background-repeat: no-repeat;
        position: relative;
        height: 70px;
        width: 200px;
        text-indent: -9999999px;
        top: -10px;
    }
    
    a:visited{
      color: inherit;
    }

    div{

        display: inline;
        
    }

    
    .Copywrite {
    color: red;
    font-size: .75em;
    font-weight: bold;
    margin: 1em 0 .4em;
    }
    
    
    li {
    
      display: inline-block;
      margin: 0px 25px auto;
      
    
    
    }

     .fpPicture{

        border-radius: 5px;
        height: 400px;
        width: 70%;
        margin: auto;
    }
    
    .link {

      display: inline-block;  
      background: rgb(234, 174, 241);
      background: -webkit-linear-gradient(top, rgb(234, 174, 241) 0%, rgb(158, 17, 180) 100%);
      border-radius: 10px;
      color: rgb(0, 0, 0);
      padding: 15px;
      margin: 20px auto;
      text-decoration: none;
      font-weight: bold;
      border: 1px solid rgb(133, 10, 112);
    
    }

    .link:hover{

        background: rgba(224, 121, 255, 0.7);
        
    }
    
    body {
    
      font: 100% Arial, Helvetica, sans-serif;
      background-image: url("Images/Background.jpg");
      background-size: cover;
      margin: 0;
      padding: 0; 
      text-align: center;

    }
    
    
    h2 {
      font-family: Georgia, "Times new roman", serif;
      color: rgb(0, 0, 0);
      opacity: 0.7;
      text-align: center;
      margin: 25px auto;
      font-size: 3em;
    }
    
   